<mat-toolbar>
  <span>  </span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/plan-list" routerLinkActive="active" ariaCurrentWhenActive="page">Список Планов</button>
  <button mat-button routerLink="/bag-create" routerLinkActive="active" ariaCurrentWhenActive="page">Создать новую сумку</button>
  <button mat-button routerLink="/material" routerLinkActive="active" ariaCurrentWhenActive="page">Материалы</button>
  <button mat-button routerLink="/plan" routerLinkActive="active" ariaCurrentWhenActive="page">Создать План</button>
  
</mat-toolbar>

<router-outlet></router-outlet>