<mat-toolbar>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/bag-list" routerLinkActive="active" ariaCurrentWhenActive="page">Список сумок</button>
  <button mat-button routerLink="/bag-create" routerLinkActive="active" ariaCurrentWhenActive="page">Создать новую сумку</button>
  <button mat-button routerLink="/material" routerLinkActive="active" ariaCurrentWhenActive="page">Материал</button>
  <button mat-button routerLink="/plan" routerLinkActive="active" ariaCurrentWhenActive="page">План</button>
  <button mat-button routerLink="/plan-list" routerLinkActive="active" ariaCurrentWhenActive="page">список планов</button>
</mat-toolbar>

<router-outlet></router-outlet>