<div mat-dialog-content>
    <form  class="form" [formGroup]="detailProfile" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
            <mat-label>Наименование</mat-label>
            <input id="name" required  matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Колличество</mat-label>
            <input required matInput formControlName="balance">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Цена</mat-label>
            <input required matInput formControlName="materialPrice">
        </mat-form-field>

        <button [disabled]="detailProfile.invalid" mat-button mat-dialog-close type="submit">Подтвердить</button>
        
    </form>

</div>