<button mat-raised-button (click)="onClick()">Показать в таблице</button>
<button mat-raised-button disabled>Показать по статусам</button>
<button mat-raised-button (click)="onBagPrice()">Показать цену сумок</button>


<div cdkDropListGroup class="root">
    <h2>{{ desck.name }} {{desck.date | date:'shortDate'}} </h2>
    
    <div *ngIf="desck" class="board-columns">

            <div  *ngFor="let d of desck.columns" class="board-column" >
                <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="d.position"
                    (cdkDropListDropped)="drop($event, d.status)">

                    <div class="column-title">
                        {{ d.name }} 
                    </div>
                     
                    <div class="task" *ngFor="let p of d.position" cdkDrag [cdkDragData]="p">
                        {{ p.articul }}
                        {{ p.bagName }}
                        {{ p.count }}
                        {{ p.materialName }}
                    </div>
                </div>
                
            </div>
    </div>
</div>

