<h2>Создание Плана</h2>

<div *ngIf="bag" class="addBagForm" [formGroup]="form">

    <h2>{{ bag.name }} {{ bag.attribute }} </h2>

    <mat-form-field class="count" >
        <mat-label>Количество сумок</mat-label>
        <input required matInput type="text" formControlName="count">
    </mat-form-field>

    <mat-form-field class="count" appearance="fill">
        <mat-label>Материал</mat-label>
        <input required type="text"
                placeholder="Выберете из списка"
                aria-label="Number"
                matInput
                [matAutocomplete]="auto"
                formControlName="mainMaterial">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>  

    <div>
        <ng-container formArrayName="details">
            <ng-container *ngFor="let detailForm of details.controls; let i = index" >
                <div class="lesson-form-row" [formGroupName]="i">
                    {{ detailForm.value.detailName }}
                    
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Материал</mat-label>
                        <input required type="text"
                                placeholder="Выберете из списка"
                                aria-label="Number"
                                matInput
                                [matAutocomplete]="auto"
                                formControlName="materialName">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>  
                   
                    
                </div>
            </ng-container>
        </ng-container>
    </div>
    

    <button mat-raised-button [disabled]="form.invalid" (click)="addBag()">Добавить</button>
</div>

<button mat-raised-button routerLink="/bag-list"> Выбрать модель сумки </button>
<button mat-raised-button [disabled]="planInfo.length <= 0" (click)="savePlan()">Сохранить</button>


<div *ngFor="let i of planInfo">

    <mat-list>
        <mat-list-item>
            <span matListItemTitle> {{ i.bagName }} </span>
            <span matListItemLine>количество: {{ i.count }}</span>
        </mat-list-item>
    </mat-list>

</div>